$block-size: 50;
$scrollbar-size: 13;

$grid-cell-height: ($block-size * 2) * 80 /100 + px;

body {
  font-family: Inconsolata, monospace;
}


body::-webkit-scrollbar {
  width: $scrollbar-size + px;
  background: #ffb30024;
}

body::-webkit-scrollbar-thumb {
  background-color: gold;
  border-radius: 10px;
  box-shadow: inset 0 0 100px 50px #ff9a00;
}

body.dark::-webkit-scrollbar {
  width: $scrollbar-size + px;
  background: #1E293B;
}

body.dark::-webkit-scrollbar-thumb {
  background-color: #1E293B;
  border-radius: 10px;
  box-shadow: inset 0 0 100px 50px #748BA7;
}

.grid {
  padding-top: 7px;
  display: grid;
  width: auto;
  justify-content: center;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, $block-size + px);
  grid-template-rows: repeat(
    auto-fit,
                  minmax($grid-cell-height, $grid-cell-height)
  );
  grid-auto-rows: $grid-cell-height;
  margin-bottom: ($block-size * 2) * 30 /100 + px;
}

.grid > * {
  -webkit-clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.key {
  position: relative;
  height: 2 * $block-size + px;
  //background-color: beige;
  grid-column: 2 span;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-style: italic;
  font-size: ($block-size/2) + px;
  //box-shadow: inset 0 0 $block-size + px ($block-size/2) + px #ff9a0073;
  transition: clip-path 1ms, background-color 100ms;
}

@media screen and (max-width: #{3 * $block-size - 1 + $scrollbar-size}px) {
  .grid {
    grid-template-columns: repeat(auto-fit, $block-size + px);
    grid-template-rows: ($block-size * 2) + px;
    grid-auto-rows: ($block-size * 2) + px;
    margin-bottom: ($block-size * 2) * 30 /100 + px;
  }
  .block {
    -webkit-clip-path: polygon(
                    25% 5%,
                    75% 5%,
                    100% 50%,
                    75% 95%,
                    25% 95%,
                    0 50%
    );
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0 50%);
  }
}

@for $i from ($block-size * 3) through 2000 {
  @if ($i % $block-size == 0) {
    $counter: $i / $block-size;
    @media screen and (min-width: #{($counter) * $block-size + $scrollbar-size}px) and (max-width: #{($counter + 1) * $block-size - 1 + $scrollbar-size}px) {
      $first: floor($counter / 2) + 1;
      .key:nth-child(#{$first}),
      .key:nth-child(#{$counter - 1}n + #{$counter + $first - 1}) {
        grid-column: 2 / span 2;
      }
    }
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#sketch-holder{
  position: relative;
  display: flex;
}

.dropdown_template{
  position: relative;
  display: flex;

}

/* Effects */
body {
  background: #28263b;
  font-family: 'Rationale', sans-serif;
}


.wrapper {
  display: grid;
  grid-template-columns: 1fr;
}


.effects-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80vw;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
}


.effects-choice-container {
  height: fit-content;
  border-radius: 5px;
  margin: auto;
  float: right;;
  max-width: 1500px;
  text-align: center;
  padding: 10px;
  grid-column: 1/4;
}

.synth-type {
  height: fit-content;
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.effect-type {
  color: white;
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.synth-selections {
  border-radius: 5px;
  height: fit-content;
  width: auto;
  margin: 5px;
  justify-items: center;
  align-items: center;
  padding: 8px;
  display: grid;
  grid-template-rows: 2em 2em 10em;
}

.effect-selections {
  border-radius: 5px;
  height: fit-content;
  width: auto;
  text-align: center;
  margin: 5px;
  justify-items: center;
  align-items: center;
  padding: 8px;
  display: grid;
  grid-template-rows: 2em 3em 6em;
}

.chorus-slider-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 15px;
  grid-gap: 25px;
  margin-top: 130px;
}

.synth-slider-container {
  display: grid;
  grid-template-columns: 4.5em 2.5em repeat(5, 3.7em);
  font-size: 15px;
  grid-gap: 25px;
  margin-top: 130px;
}

.synth-slider-container2 {
  display: grid;
  grid-template-columns: 4.5em 2.5em repeat(6, 3.7em);
  font-size: 15px;
  grid-gap: 15px;
  margin-top: 130px;
}

.synth-slider-container3 {
  display: grid;
  grid-template-columns: 4.5em 2.5em repeat(7, 3.7em);
  font-size: 15px;
  grid-gap: 10px;
  margin-top: 130px;
}

.tremolo-slider-container, .vibrato-slider-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 15px;
  color: #DA22FF;
  grid-gap: 25px;
  margin-top: 130px;
  margin-left: 20px;
  margin-right: 20px;
}


.volume-slider-container, .distortion-slider-container {
  display: grid;
  grid-template-columns: min-content;
  font-size: 15px;
  color: #DA22FF;
  margin-top: 130px;
}

@media screen and (max-width: 1535px) {
  .p {
    font-size: 12px;
  }
  .synth-slider-container {
    display: grid;
    grid-template-columns: 1fr 2em repeat(5, 3.5em);
    font-size: 12px;
    grid-gap: 20px;
    margin-top: 130px;
  }

  .synth-slider-container2 {
    display: grid;
    grid-template-columns: 1fr 2em repeat(6, 3.5em);
    font-size: 12px;
    grid-gap: 15px;
    margin-top: 130px;
  }

  .synth-slider-container3 {
    display: grid;
    grid-template-columns: 1fr 2em repeat(7, 3.5em);
    font-size: 12px;
    grid-gap: 10px;
    margin-top: 130px;
  }

  .chorus-slider-container {
    display: grid;
    grid-template-columns: 4em 4em 4em;
    font-size: 15px;
    grid-gap: 15px;
    margin-top: 130px;
  }

  .tremolo-slider-container, .vibrato-slider-container {
    display: grid;
    grid-template-columns: 4.5em 4.5em;
    font-size: 15px;
    color: #DA22FF;
    grid-gap: 20px;
    margin-top: 130px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .volume-slider-container, .distortion-slider-container {
    display: grid;
    grid-template-columns: min-content;
    font-size: 15px;
    color: #DA22FF;
    margin-top: 130px;
  }
}

.input[type="range"] {
  -webkit-appearance: none;
  height: 5px;
  width: 60px;
  border-radius: 5px;
  background: #4d4879;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  transform: rotate(270deg);
  position: relative;
  bottom: 15px;
  margin-bottom: 15px;
}

.input2[type="range"] {
  -webkit-appearance: none;
  height: 5px;
  width: 60px;
  border-radius: 5px;
  background: #4d4879;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  transform: rotate(270deg);
  position: relative;
  bottom: 15px;
  margin-bottom: 30px;
  margin-top: 70px;
}

.input::-webkit-slider-thumb, .input2::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #1E293B 0%, #1E293B 51%, #1E293B 100%);
  cursor: pointer;
}

.input::-moz-range-thumb, .input2::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #1E293B;
  cursor: pointer;
}

.button-80 {
  background: #71717a;
  backface-visibility: hidden;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 15px;
  line-height: 1.3;
  padding: 5px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}


.button-81 {
  background: mediumseagreen;
  backface-visibility: hidden;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 15px;
  line-height: 1.3;
  padding: 5px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.button-81:not(:disabled):hover {
  transform: scale(1.05);
}

.button-81:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-81:focus {
  outline: 0 solid transparent;
}

.button-81:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-81:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-81:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-81:not(:disabled):active {
  transform: translateY(.125rem);
}

/* Buttons */
.click-button {
  backface-visibility: hidden;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.click-button:not(:disabled):hover {
  transform: scale(1.05);
}

.click-button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.click-button:focus {
  outline: 0 solid transparent;
}

.click-button:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.click-button:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.click-button:focus:not(:focus-visible):before {
  border-width: 0;
}

.click-button:not(:disabled):active {
  transform: translateY(.125rem);
}

/* Rec button */

.rec-button {
  left: 5%;
  height: fit-content;
  width: fit-content;
  margin: 5px;
  padding: 3px;
  border-radius: .375rem;
}

.rec-button-content {
  position: relative;
  top: 3px;
  left: 50%;
  transform: translate(-50%);
}

.rec-on {
  position: fixed;
  z-index: 1;
  background-color: firebrick;
}

.mp3-button {
  position: relative;
}

form {
  display: flex;
  height: fit-content;
  justify-content: center;
  flex-direction: column;
}

form button {
  margin-top: 10px;
}